run = "npm run dev"
modules = ["postgresql-16"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[nix]
packages = ["docker", "docker-compose", "nodejs-12_x"]

[agent]
expertMode = true
